/* We use Eric Meyer's reset stylesheet 100% of the time  =========================================== */

/* Eric Meyer's Reset CSS -- http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
-------------------------------------------------------------------------- */

* { margin: 0; padding: 0; font-weight: normal; } /* Safari seems to ignore a lot of the reset style sheet and I am not sure why. */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, 
em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ 
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; 
}

:focus { outline: 0; } /* remember to define focus styles! */

ins { text-decoration: none; } /* remember to highlight inserts somehow! */
del { text-decoration: line-through; }

table { border-collapse: separate; border-spacing: 0; } /* tables still need 'cellspacing="0"' in the markup */

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

/* Basic Elements
-------------------------------------*/

html, body { height: 100%; }

body { font: 12px/1.4 arial, sans-serif; color: #333; }

h1, h2, h3, h4, h5, h6 { line-height: 1.2; }

h1 { font-size: 225%; }
h2 { font-size: 185%; }
h3 { font-size: 160%; }
h4 { font-size: 125%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

p { line-height: 1.4; }

input[type="checkbox"],
input[type="radio"]
{
	width: auto !important;
	border: none !important;
}

object { float: left; clear: both; }

br.c { background: none; border: 0; clear: both; display: block; float: none; font-size: 0px; margin: 0; padding: 0; visibility: hidden; width: 0; height: 0; line-height: 0;}

a { text-decoration: none; }

a:hover { text-decoration: underline; }


/* Global Layout
-------------------------------------*/

#a-wrapper
{
width: 960px;
margin: 0 auto;
}

#a-header
{
float: left;
display: inline;
position: relative;
width: 540px;
clear: none;
}

#a-content
{
	float: left;
	position: relative;
	display: inline;
	clear: none;
	width: 720px;
}

.a-area-footer
{
	position: relative;
	display: inline;
	clear: both;
}

#a-search
{
	width: auto;
	clear: none;
	float: right;
}

.a-area-logo
{
	float: left;
	display: inline;
	position: relative;
	width: 100%;
	clear: both;
}

.a-area-logo .a-slot
{
	margin: 0;
}

.a-area-logo .aImage a
{
	float: left;
	display: inline;
	position: relative;
}

.a-area-header
{
	float: left;
	width: 50%;
}

.a-default #a-content
{
clear: none;
float: left;
width: auto;
}

.a-default .a-area-body
{
width: 480px;
}

.a-area-body
{
	width:480px;
	float:left;
}

.a-home .a-area-body
{
	width: 720px;
}

.a-area-sidebar
{
	width:200px;
	float:left;
	display:inline;
	position:relative;
	margin-left: 40px;
}

.a-area-footer
{
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 20px;
	font-size: 11px;
	color: #ccc;
}

.a-blog-posts #a-content,
.a-blog-events #a-content
{
	clear: none;
	width: 720px;
}

.a-home #a-content
{
	width: 100%;
}


/* Top Navigation
-------------------------------------*/

.a-nav-main
{
	float: left;
	display: inline;
	width: 100%;
	clear: both;
	margin: 20px 0;
	padding: 0;
}

.a-nav-main .a-nav-item
{
	float: left;
	display: inline;
	width: 118px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ddd;
	border-bottom: 0;
	border-right: 0;
}

.a-nav-main .a-nav-item.last
{
	border-right: 1px solid #ddd;
}

.a-nav-main .a-nav-item a
{
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #333;
	text-align: center;	
}

.a-nav-main .a-nav-item.a-current-page a,
.a-nav-main .a-nav-item a:hover
{
	background-color: #ddd;
	color:#000;
}


/* Subnavigation
-------------------------------------*/

.a-subnav-wrapper
{
	background: #ddd;
	margin-bottom: 20px;
}

.a-nav-subnav
{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}

.a-nav-subnav .a-nav-item .a-drag
{
	position: absolute;
	right: 0;
}

.a-nav-subnav .a-nav-item .a-drag,
.a-nav-subnav .a-nav-item .a-drag *
{
	background-color: transparent;
}

.a-nav-subnav .a-nav-item
{
float: left;
width: 100%;
clear: both;
position: relative;
line-height: 20px;
margin-bottom: 5px;
}

.a-nav-subnav .a-nav-item.last
{
	margin-bottom: 0;
}

.a-nav-subnav .a-nav-item a
{
	float: left;
	display: inline;
	clear: both;
	color: #fff;
	width: 155px;
	height: 100%;
	padding: 0 20px 0 5px;
}

.a-nav-subnav .a-nav-item a:hover
{
	color: #333;
	background: #fff;
	text-decoration: none;
}

.a-subnav-wrapper.blog h4
{
	float: left;
	width: 100%;
	clear: both;
	display: inline;
	position: relative;
	font-size: 14px;
}

.a-subnav-wrapper.blog .a-blog-filter-options
{
	float: left;
	width: 100%;
	clear: both;
	display: inline;
	position: relative;
	line-height: 20px;
}

.a-subnav-wrapper.media .a-media-filter-options a,
.a-subnav-wrapper.blog .a-blog-filter-options a
{
	float: left;
	clear: both;
	display: inline;
	width: auto;
	padding: 0 5px;
}


/* Breadcrumb Navigation
-------------------------------------*/

#a-breadcrumb-component
{
	float: left;
	width: 100%;
	font-size: 18px;
	margin: 0 0 20px 0;
	list-style: none;
	padding: 0;
}

#a-breadcrumb-component li
{
	float: left;
	margin-right: 5px;
}



/* Blog Templates
-------------------------------------*/



/* 4. Variants
-------------------------------------*/


/* aSlideshow Compact Variant */

.a-slot.aSlideshow.compact
{
	margin-top: 0;
}

.a-slot.aSlideshow.compact ul.a-slideshow-controls
{
	position:absolute;
	top: auto;
	left: auto;
	bottom:0;
	right:0;
	margin: 0;
	width:100%;
	z-index:888;
	min-height: 30px;
	height: auto;
}

.a-slot.aSlideshow.compact ul.a-slideshow-controls li
{
	height: 30px;
	width: 30px;
	margin: 0 5px;	
}

.a-slot.aSlideshow.compact ul.a-slideshow-controls .a-arrow-left
{
	background-image: url(/apostrophePlugin/images/a-icon-arrow-left-thin-alt.png);
	position: absolute;
	top: 0;
	right: 30px;
}

.a-slot.aSlideshow.compact ul.a-slideshow-controls .a-arrow-right
{
	background-image: url(/apostrophePlugin/images/a-icon-arrow-right-thin-alt.png);
	float: right;
}

.a-slot.aSlideshow.compact ul.a-slideshow-controls .a-arrow-right:hover,
.a-slot.aSlideshow.compact ul.a-slideshow-controls .a-arrow-left:hover
{
background-position: 0 -30px !important;
}

.a-slot.aSlideshow.compact .a-slideshow-title
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	color: #fff;
	font-size: 11px;
	line-height: 1.3;
	background: rgba(0,0,0,0.35);	
}

.a-slot.aSlideshow.compact .a-slideshow-title span
{
	float: left;
	padding: 8px 70px 8px 8px;	
}


/* aSlideshow Autoplay Variant */


.a-slot.aSlideshow.autoplay .a-slideshow-title
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 184px;
	padding: 8px;
	margin: 0;
	color: #fff;
	font-size: 11px;
	line-height: 1.3;
	background: rgb(0,0,0);	
	background: rgba(0, 0, 0, 0.35);	
}

.a-btn,
.a-form-row label,
.a-admin fieldset h2
{
text-transform: capitalize;
}