/* An example of reasonable styles at the application level which go well with the
  provided sample page templates. Copy this to main.css if you wish. */

h1
{
	font-size: 30px;
}

h2
{
	font-size: 18px;
	margin: 0 0 10px 0;
}

h3,
h6,
h5
{
	color: #666;
}

br.c
{
	clear: both;
	margin: 10px 0;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#cmstest-wrapper
{ /*Site Wrapper, For Layout*/
	width: 960px;
	margin: 0 auto;
}

#cmstest-header,
#cmstest-content
{
	float: left;
	display: inline;
	position: relative;
	width: 100%;
}

#cmstest-login
{
	float: right;
	display: inline;
	width: 100%;
	clear: both;
/*	margin-top: -20px;*/
}

#cmstest-content #a-subnav
{
	width: 200px;
	margin:40px 40px 0 0;
	float:left;
	display:inline;
	position:relative;
}

#a-area-logo
{
	width: 125px;
	margin-right: 30px;
}

#a-area-logo .aImage a
{
	float: left;
	display: inline;
	position: relative;
}

#a-area-header
{
	float: left;
	width: 50%;
}

#a-area-body
{
	width:480px;
	float:left;
	display:inline;
	position:relative;
}

.a-home #a-area-body
{
	width: 720px;
}

#a-area-sidebar
{
	width:200px;
	float:left;
	display:inline;
	position:relative;
	margin-left: 40px;
}

#a-area-footer
{
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 20px;
	font-size: 11px;
	color: #ccc;
}

.narrow
{
	width: 150px;
}

.green
{
	background-color: green;
}

/* But how do I make floating a slot left or right work? */
